<div class="row">
  <div class="col-sm-2">
    <%= link_to 'Back to Character', game_character_path(@game, @character), class: 'btn btn-block btn-dark text-light' %>
  </div>

  <div class="col-sm-8">
    <legend>New Item</legend>

    <%= form_with(model: @item, url: game_character_items_path(@game, @character), local: true) do |form| %>
      <% render 'form_errors', item: @item %>
      <% render 'form_fields', form: form %>
    <% end %>
  </div>
</div>
