<div class="alert alert-dismissible alert-info fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4 class="alert-heading"> You <b>notice</b> something </h4>
  <p> <%= message %> </p>
</div>
