<div class="row">
  <div class="col-2">
    <%= link_to t('button.back', page: User.model_name.human), user_path(@user), class: 'btn btn-block btn-dark text-light'%>
  </div>
  <div class="col-8">
    <%= form_with(model: @user, class: 'form-horizontal') do |form| %>
      <%= render 'form_errors', user: @user %>
      <%= render 'form_fields', form: form %>
    <% end %>
  </div>
</div>
