<h1>Editing Note</h1>

<%= render 'form', note: @note %>

<%= link_to 'Show', game_character_note_path(@note.character.game, @note.character, @note) %> |
<%= link_to 'Back', game_character_notes_path(@note.character.game, @note.character) %>
