<div class="row">
  <div class="col-sm-2">
    <%= link_to 'Back to Game', game_path(@game), class: 'btn btn-block btn-dark text-light' %>
  </div>

  <div class="col-sm-8">
    <legend>Editing Rule</legend>

    <%= form_with(model: @rule, url: game_rule_path(@game, @rule), local: true) do |form| %>
      <%= render 'form_errors', rule: @rule %>
      <%= render 'form_fields', form: form %>
    <% end %>
  </div>

</div>
