<div class="row">
  <div class="col-sm-2">
    <%= link_to 'Back to Campaign Notes', game_campaign_notes_path(@game), class: 'btn btn-block btn-dark text-light' %>
  </div>

  <div class="col-sm-8">
    <legend>New Category</legend>

    <%= form_with(model: @category, url: game_categories_path(@game), local: true, class: 'form-horizontal') do |form| %>
      <%= render 'form_errors', category: @category %>
      <%= render 'form_fields', form: form %>
    <% end %>
  </div>
</div>
