<fieldset>
  <div class="form-group row">
    <%= form.label :description, class: 'col-sm-2 text-center h4' %>
    <div class="col-sm-10">
      <%= form.text_field :description, id: :rule_description %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-dark text-light pull-right' %>
  </div>
</fieldset>
